.inputForm {
  display: flex;
  margin: 15em 40%;
}
input {
  margin-right: 3em;
  border: 1px solid black;
  height: 1.5em;

}
.nameInput, .timezoneInput {
  display: flex;
  flex-direction: column;
}
.watchesBlock {
  display: flex;
  margin: 0 40%;
  margin-top: -7em;
}
.timeItem {
  margin-right: 3em;
  border: 1px solid black;
  border-radius: 15%;
  padding: 5px;
  min-width: 85px;
  min-height: 50px;
  user-select:none;
}
.cross {
  cursor: pointer;
  user-select:none;
  margin-left: 5.8em;
  max-width: 5px;
}
.watchName {
  margin-bottom: 5px;
}
label {
  margin-bottom: 10px;
}
button {
  background-color: white;
  border: 1px solid black;
  padding: 0 20px;
  height: 2em;
  margin-top: 2em;
}